*{
    margin: 0;
    padding: 0;
}
html, body {
    ::-webkit-scrollbar {
        display: none;
    }
}
body{
    background-color: #bdc3c7;
    text-align: center;
    overflow: hidden;
}
.container{
    width:380px;
    text-align: center;

}

#incontainer{
    display: flex;
    justify-content: center;
}

h1{
    margin-top: 15px;
    margin-bottom: 5px;
}
h2{
    margin-bottom: 15px;
    font-size: 24px;
}
.box{
    margin-bottom: 15px;
    
}

label{
    font-weight: bold;
    font-size: 1.5rem;

}

#mybox, #myline, #time, #myboxjit, #mylinejit, #timejit {

    border: none;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
    box-sizing: border-box;

}

#execut, #jit{
    padding: 8px;
}

#result{
    margin-top: 40px;
    font-size: 16px;
    
}

#scale, #porcent{
    margin-top: 10px;
    font-size: 38px;
    font-weight: bold;
    
}

button{
    border: none;
    height: 40px;
    width: 80px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(169, 253, 232);
    margin-bottom: 30px;
}
#ej{
    width: 150px;
}


input[tipe="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

a{
    text-decoration: none;
    color: #333;
}
